body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url("/img/fondo.jpg");
  color: aliceblue;
}
#panel {
  background-color: aliceblue;
  opacity: 0.8;
  padding: 4%;
}

#texto {
  color: black;
  opacity: 0.8;
  margin: 3%;
}
#cajas {
  margin: 3%;
}
